scripts/__pycache__/
bin/
run_benchmark.e*
run_benchmark.o*
logs/aws/*pdf
**.ipynb_checkpoints/
src/plot/.ipynb_checkpoints/
src/plot/__pycache__/

**.vscode/

profile/regpack/regpack_synth_local/
profile/regpack/regpack_synth_up/
